section#about.container-fluid
      .container
        .about-title
          h3 About Me
        .row
          .col-img(data-aos='fade-right')
            img(src='./images/Quang2.jpg', alt='')
          .col-content
            .about-content
              .about-content_item(data-aos='fade-left')
                .item_left
                  i.fa.fa-user
                  span  Name:
                .item_right
                  p NGUYEN NGOC QUANG
              .about-content_item(data-aos='fade-left')
                .item_left
                  i.fa.fa-birthday-cake
                  span  Birthday:
                .item_right
                  p 12/04/1986
              .about-content_item(data-aos='fade-left')
                .item_left
                  i.fa.fa-map-marker-alt
                  span  Address:
                .item_right
                  p Nghi Xu&acirc;n - Nghi L&#x1ED9;c - Ngh&#x1EC7; An
              .about-content_item(data-aos='fade-left')
                .item_left
                  i.fa.fa-envelope
                  span  Email:
                .item_right
                  p quanggiatrang@gmail.com
              .about-content_item(data-aos='fade-left')
                .item_left
                  i.fa.fa-phone
                  span  Phone:
                .item_right
                  p 086-756-2248
