footer#footer.container-fluid
  .container
    .copyright
      p
        | Copyright ©2022 All rights reserved by 
      span
        a(href='https://github.com/coderga/')
          span Coderga
// End  Footer