header#header 
  include ../blocks/mixins
  nav#navbaradd.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-transparent
    .container.header_nav
      //- button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        //- span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.d-flex.justify-content-end
        //- ul.navbar-nav.d-flex.justify-content-between.w-50
        //-   li.nav-item
        //-     a.nav-link.active(aria-current='page', href='#') Home
        //-   li.nav-item
        //-     a.nav-link(href='#about') About
        //-   li.nav-item
        //-     a.nav-link(href='#skills') Skills
        //-   li.nav-item
        //-     a.nav-link(href='#portfolio') Portfolio
        //-   li.nav-item
        //-     a.nav-link(href='#contact') Contact



        //- ul
        //-     for nav in navbar
        //-         +navbar-top(nav)