section#portfolio.container-fluid
  .container
    .portfolio-title
      h3 Portfolio
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          img.img-fluid.img_config(src='./images/ForBuilders-project.png', alt='')
          .slide_content
            .slide-text
              h5 ForBuilders project
              p Technology
              p HTML5, CSS3, SASS, PUG
            .btn-view
              a.button(href='https://github.com/coderga/forbuilders') Github
              a.button(href='https://coderga.github.io/forbuilders/') Demo      
        .swiper-slide
          img.img-fluid.img_config(src='./images/bootstrap.jpg', alt='')
          .slide_content
            .slide-text
              h5 Merged WEBSITE
              p Simple example with technology
              p HTML5, CSS3, Bootstrap 4
            .btn-view
              a.button(href='https://github.com/coderga/webbootstrap') Github
              a.button(href='https://coderga.github.io/webbootstrap/') Demo
        .swiper-slide
          img.img-fluid.img_config(src='./images/fiverr.jpg', alt='')
          .slide_content
            .slide-text
              h5 Fiverr WEBSITE
              p Simple example with technology
              p HTML5, CSS3, Bootstrap 4
            .btn-view
              a.button(href='https://github.com/coderga/baitap-fiverr') Github
              a.button(href='https://coderga.github.io/baitap-fiverr/') Demo

        .swiper-slide
          img.img-fluid.img_config(src='./images/git.jpg', alt='')
          .slide_content
            .slide-text
              h5 Trợ lý ảo
              p Một số code lập trình trợ lý ảo bằng ngôn ngữ Python
            .btn-view
              a.button(href='https://github.com/coderga/trolyao') Link Github
              a.button(href='https://www.youtube.com/watch?v=eb1ImffhDBU') Video
      // Add Pagination
      .swiper-pagination
      // Add Arrows
      .swiper-button-next
      .swiper-button-prev
  // Swiper
