section#resume.container-fluid
  .container
    .resume-title
      h2 Resume
    .resume_content
      .resume-education(data-aos='fade-in')
        h3 Học Tập
        .resume-items 
          P Tốt nghiệp đại học chuyên nghành cơ khí
          h4 2005-2010  
          p Học viện kỹ thuật quân sự       
        .resume-items 
          P Tốt nghiệp trường tiếng Nhật tại Nhật Bản
          h4 2016-2018
          P Có chứng chỉ tiếng Nhật N3
        .resume-items 
          P Tốt nghiệp trường Senmon Nhật Bản
          h4 2018-2020
          P Học chuyên nghành công nghệ thông tin tại Nhật Bản, các môn học Java, Frontend, Csdl
          
      .resume-experience(data-aos='fade-in')
        h3 Kinh nghiệm
        .resume-items 
          P Công ty TNHH MTV Máy kéo máy nông nghiệp
          h4 2012-2014
          P 2 năm kinh nghiệm kỹ thuật viên cơ khí
        .resume-items 
          P Công ty TNHH M-AnhKhôi
          h4 2014-2016
          P 2 năm kinh nghiệp lập trình phay CNC
        .resume-items 
          P Cybersoft
          h4 2020-2021
          P Kinh nghiệp lập trình dự án Cybersoft
        .resume-items 
          P Masan Nghệ An
          h4 2021-2022
          P Vận hành dây chuyền sản xuất