section#skills.container-fluid
  .container
    .skills-title 
      h3 Skills
    .skills-content
      .skills_img
        img(src='./images/skills.png', alt='')
      .skills_rec
        .skills-items.html-position
          span(id='items-progress', role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100', style='--value:85%')
          .skills-items-img
            img(src='./images/html5.png', alt='')
          .skills-items-text
            h2
              | HTML5 / CSS3 / BOOTSTRAP / SASS / RESPONSIVE

        .skills-items.javascript-position
          span(id='items-progress', role='progressbar', aria-valuenow='35', aria-valuemin='0', aria-valuemax='100', style='--value:35%',  data-percent='--value')
          .skills-items-img
            img(src='./images/javascript.png', alt='')
          .skills-items-text
            h2
              | ES5 / ES6 / JQUERY / AJAX   

        .skills-items.github-position
          span(id='items-progress', role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100', style='--value:55%')
          .skills-items-img
            img(src='./images/github.svg', alt='')
          .skills-items-text
            h2
              | GITHUB / GITHUB PAGES

        .skills-items.pythonjava-position
          span(id='items-progress', role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='--value:45%')
          .skills-items-img
            img(src='./images/morelang.png', alt='')
          .skills-items-text
            h2
              | PYTHON / JAVA

        .skills-items.lang-position
          span(id='items-progress', role='progressbar', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100', style='--value:65%')
          .skills-items-img
            img(src='./images/lang.png', alt='')
          .skills-items-text
            h2
              | JAPANESE N3                   



script.
  function reveal() {
    var reveals = document.querySelectorAll("#items-progress");

    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 100;

      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("progress-bar");
      } else {
        reveals[i].classList.remove("progress-bar");
      }
    }
  }

  window.addEventListener("scroll", reveal);
