extends layout/layout

block vars
	-title = 'Nguyễn Ngọc Quang CV'
	-bodyClass = ''

block container
	section.home__container
		.container
			.home-left
				img.img-fluid.float-end.rounded-circle(src='./images/Quang.jpg', alt='', data-aos='zoom-in')
			.home-right
				h2
					|  My name is 
					span Nguyen Ngoc Quang
				p Front-end development! 
					
